name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: mathewspious/python-app:${{env.COMMIT_SHORT_SHA}}
  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: Install Argo CD
        shell: bash
        run: |
          cd ~
          curl -ksSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv ./argocd /usr/local/bin/
      - name: Agrocd App Sync
        shell: bash
        run: |
          argocd login argocd-server.argocd \
          --insecure --grpc-web \
          --username admin --password ${{secrets.ARGOCD_SECRET}}
          argocd app sync python-app